---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/animations.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Welcome /> -->

	<h1 class="service__title">
    <span class="service__title__text">
      <div>O</div><div>U</div><div>R</div>
    </span>
    <span class="service__title__text">
      <div>S</div><div>E</div><div>R</div><div>V</div><div>I</div><div>C</div><div>E</div><div>S</div>
    </span>
  </h1>


	<h2 class="animate-text highlight">
		<span>一</span><span>文</span><span>字</span><span>ず</span><span>つ</span><span>色</span><span>変</span><span>更</span>
	</h2>


	<div class="fade-up-image-pic">
		<img src="your-image.jpg" alt="説明" class="fade-up-image" />
	</div>

	<section style="height: 100vh;"></section>
</Layout>
	
